#Latex extensions
*.pdf
sigproc-sp.aux
sigproc-sp.log
sigproc-sp.out
sigproc-sp.pdf
sigproc-sp.synctex.gz
sigproc-sp.toc
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fdb_latexmk
*.fls