#Latex extensions
*.pdf
Introduction.aux
Thesis.aux
Thesis.log
Thesis.out
Thesis.pdf
Thesis.synctex.gz
Thesis.toc
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fdb_latexmk
*.fls